{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ "<!-- Contact Details -->" | safeHTML }}
            <div class="col-12 col-md-6">
                <div class="map">
                    <div id="map" data-lat="{{ .Site.Params.contact.mapLatitude }}" data-long="{{ .Site.Params.contact.mapLongitude }}" ></div>
                </div>
            </div>
            {{ "<!-- Contact Form -->" | safeHTML }}
            <div class="contact-form col-12 col-md-6 ">


                <form action="https://airform.io/welcome@uhopecommunity.org" method="post">

                    <div class="form-group">
                        <input type="text" placeholder="First Name" class="form-control" name="firstName" id="firstName">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Last Name" class="form-control" name="lastName" id="lastName">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Your Age" class="form-control" name="age" id="age">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Phone Number" class="form-control" name="phone" id="phone">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="Your Email!" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="Tell us about your situation" class="form-control" name="about" id="about"></textarea>
                    </div>
                    <div>
                        
                    </div>

                    <div id="cf-submit">
                        <button class="btn custom-color-submit w-100 p-2">Send</button>
                    </div>
                </form>
               

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block custom-contact-block ">
                    <i class="tf-ion-android-pin"></i>
                    <h4>Our Location</h4>
                    {{ with .Site.Params.contact.address }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="phone-block contact-meta-block custom-contact-block ">
                    <i class="tf-ion-ios-telephone"></i>
                    <h4>Call Us</h4>
                    <p>
                         {{ with .Site.Params.contact.phone }}Office: {{.}} {{ end }} 
                        <br> {{ with .Site.Params.contact.fax }} {{ . }} {{ end }}
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="social-icons-block contact-meta-block custom-contact-block ">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>We are social</h4>
                    <ul class="list-inline social-icon">
                        {{ with .Site.Params.contact.facebook }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.twitter }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-twitter"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.linkedin }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-linkedin"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.dribbble }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-dribbble"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.instagram }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-instagram"></i>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}